nav {
	width:100%;
	background-color: rgba(151, 247, 172, 0.75);
	padding: 10px 0;

}
ul {
	padding: 50;
	margin: 0;
}
li {
	display: inline-block;
	text-align:center;
	font-size: 20px;
}
a {
	color: rgb(255, 255, 255);
	text-decoration:rgb(4, 128, 45);
	padding: 10px;
	font-family: Tahoma;
}

a:hover {
	background-color: rgb(227, 121, 234);
}

img {
    max-width:4%;
    max-height:4%;
}
